body {
  position: relative;
  min-height: 100vh;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  width: 20%;
  text-align: center;
  font-size: 11px;
}

a {
  color:  inherit;
  text-decoration: none;
}

#cardBox:hover{
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.55);
 transform: scale(1.02);
}

hr{
  width: 95%;
  opacity: 0.3;
}


.map-container {
  height: 100%;
  width: 100%;
}

#editImageBtn{
  position: absolute;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.295);
}